// _variables.scss

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// Margins
$mt-0: 0 !important;
$mt-sm: 0.5rem !important;
$mt-md: 1rem !important;
$mt-lg: 1.5rem !important;

$mb-0: 0 !important;
$mb-sm: 0.5rem !important;
$mb-md: 1rem !important;
$mb-lg: 1.5rem !important;

$mr-0: 0 !important;
$mr-sm: 0.5rem !important;
$mr-md: 1rem !important;
$mr-lg: 1.5rem !important;

$ml-0: 0 !important;
$ml-sm: 0.5rem !important;
$ml-md: 1rem !important;
$ml-lg: 1.5rem !important;


// Paddings
$pt-0: 0 !important;
$pt-sm: 0.5rem !important;
$pt-md: 1rem !important;
$pt-lg: 1.5rem !important;

$pb-0: 0 !important;
$pb-sm: 0.5rem !important;
$pb-md: 1rem !important;
$pb-lg: 1.5rem !important;

$pr-0: 0 !important;
$pr-sm: 0.5rem !important;
$pr-md: 1rem !important;
$pr-lg: 1.5rem !important;

$pl-0: 0 !important;
$pl-sm: 0.5rem !important;
$pl-md: 1rem !important;
$pl-lg: 1.5rem !important;

// Border Variables
$base-border-width: 1px;
$sm-border-width: 2px;
$md-border-width: 3px;
$lg-border-width: 4px;

$base-border-radius: 5px;
$sm-border-radius: 3px;
$md-border-radius: 8px;
$lg-border-radius: 10px;

// Max Width Variables
$mw-25: 25%;
$mw-50: 50%;
$mw-75: 75%;
$mw-100: 100%;

